* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato';
}

.container {
  width: 1200px;
  margin: 100px auto;

  display: flex;
  justify-content: center;
}

.stats {
  max-width: 100%;
  background-color: #6b7280;
  border: 1px solid #6b7280;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  z-index: 5;
}

.stats__item {
  padding: 1.5rem 2rem;
  background-color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.stats__description {
  font-size: 0.875rem;
  font-weight: 500;
  color: #64748b;
  line-height: 1.5rem;
}

.stats__trending {
  font-size: 0.6rem;
  font-weight: 600;
  color: #dc2626;
}

.stats__info {
  margin-top: 0.5rem;

  display: flex;
  align-items: baseline;
}

.stats__number {
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: -0.025rem;
  line-height: 2.5rem;
}

.stats__unit {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #6b7280;
}
